body, section, article, aside {
  padding: 0;
  margin: 0;
}

body {
  background-color: gray;
}

section {
  background-color: purple;
  max-width: 1000px;
  margin: 0 auto;
}

article {
  background-color: yellow;
  width: 70%;
  float: left
}

aside {
  background-color: green;
  float: none;
  overflow: hidden;
}

article, aside, footer {
  padding: 1rem;
  box-sizing: border-box;
}
footer {
  background-color: powderblue;
  width: 100%;
  clear: both;
}
